{% extends 'base.html' %}


{% block content %}
<style>
  .recommendation{
 
  
  }

  .one{
    margin:20px;
    margin-top:20px;
  }

  .con {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap; 
    justify-content:center;
  }

</style>
<div class="con">
{% for r in recommendations %}

  <div class="card one" style="width: 18rem;">
    <div class="card-header">
      <h5 class="card-title">{{r.name}}</h5>
    </div>
    <img src="{{r.image}}" class="card-img-top" alt="Placeholder">
    
    <div class="card-body">
      <p class="card-text">{{r.plot}}</p>
    </div>
  </div>

{% endfor %}
</div>

{% endblock %}